.Page {
    background-color: #f7f7f7;
    min-height: 100vh;
    background-image: url("./assets/Pokeball.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  
}

.SearchContainer {
    margin-bottom: 5vh;
}

.pokemon-properties {
    width: "80vw";
}

.Close-Button {
    position: fixed;
    top: 5px;
    right: 2px;
    opacity: 0.4;
    cursor: pointer;
    z-index: 1500;
}

.swipe-left {
    animation: swipe-left 1s forwards;
}

.swipe-right {
    animation: swipe-right 1s forwards;
}

@keyframes swipe-left {
    to {
        transform: rotate(-13deg) translate3d(-100%, 0, 0);
        opacity: 0;
    }
}

@keyframes swipe-right {
    to {
        transform: rotate(13deg) translate3d(100%, 0, 0);
        opacity: 0;
    }
}